<nav class="bg-warning d-flex justify-content-around down-nav">
    <a [routerLink]="" class="nav-icons text-decoration-none">
        <div class="d-flex justify-content-center">
            <i class="bi bi-house-door-fill"></i>
        </div>
        <span>Home</span>
    </a>
    <a [routerLink]="" class="nav-icons text-decoration-none">
        <div class="d-flex justify-content-center">
            <i class="bi bi-person-circle"></i>
        </div>
        <span>USER</span>
    </a>
    <a [routerLink]="" class="nav-icons text-decoration-none">
        <div class="d-flex justify-content-center">
            <i class="bi bi-file-bar-graph-fill"></i>
        </div>
        <span>SALES</span>
    </a>
    <a [routerLink]="" class="nav-icons text-decoration-none">
        <div class="d-flex justify-content-center">
            <i class="bi bi-telephone-inbound-fill"></i>
        </div>
        <span>PHONE</span>
    </a>
</nav>