.right-nav {
    height: 100vh;
    width: 17rem;
    border: 1px solid black;
    background-color: rgba(245, 146, 76, 0.507);
}

.profile {
    border-bottom: 1px solid orange;
}

.profile img {
    width: 3rem;
    border-radius: 50%;
}

.nav-links a {
    color: black !important;
}

.nav-links li {
    margin: 2rem;
    display: flex;
}