<div class="container-fluid">
    <!-- PDF header -->
    <div class="row pdf-header">
        <div class="col-3 h-100">
            <img class="pdf-banner-image h-100" src="/assets/logo.png" alt="" decoding="async">
        </div>
        <div class="col-6 logo-banner">
            <div class="pdf-banner-title d-flex flex-column align-items-center text-center h-100 position-relative">
                <div class="title-ovel position-absolute fw-bold text-white">SRI</div>
                <div class="title-rectangle position-absolute fw-bold px-1 text-white">KRISHNA DAIRY</div>
                <div class="sub-title-1  position-absolute fw-bold">We supply Cow, buffalow Milk, Curd,
                    Ghee, Gova, Cream</div>
                <div class="sub-title-2  position-absolute fw-bold text-white">We undertake bulk orders
                    for Marriages, Hotels, &amp; Catering</div>
            </div>
        </div>
        <div class="col-3 position-relative">
            <div class="d-flex banner-mobile-section position-absolute">
                <div class="mobile-title ms-2 fw-bold">Cell: </div>
                <div class="mobile-numbers">
                    <p class="w-100 fw-bold" > 1234567890  </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Customer Details -->
    <div class="row mt-3 col-12">
        <div class="col-3 col-md-3">
            <p class="m-0 p-0 fw-bold">From: <span class="text-danger">{{fromdate | date}}</span></p>
            <p class="m-0 p-0 fw-bold">To: <span class="text-danger">{{todate | date}}</span></p>
        </div>
        <div class="col-6 col-md-6">
            <p class="customer-name w-100 text-center fw-bold text-success">{{customerName}}</p>
        </div>
        <div class="col-3 col-md-3 fw-bold text-success">
           {{customerPlace}}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive mt-3">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th rowspan="2" scope="col">Date</th>
                            <th rowspan="2" scope="col">Invoice No</th>
                            <th scope="col" colspan="4">Curd</th>
                            <th scope="col" colspan="4">Milk</th>
                            <th scope="col" rowspan="2">Daily Total</th>
                        </tr>
                        <tr>
                            <!-- for Curd -->
                            <th scope="col">Liters</th>
                            <th scope="col">Can(s)</th>
                            <th scope="col">Price / Ltr</th>
                            <th scope="col">Price</th>
                            <!-- for Milk -->
                            <th scope="col">Liters</th>
                            <th scope="col">Can(s)</th>
                            <th scope="col">Price / Ltr</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of searchResults">
                            <td>{{item.salesdate | date: 'dd-MM-yyyy' }}</td>
                            <td>{{item.invoiceNumber}}</td>
                            <td>{{item.curd.liters}}</td>
                            <td>{{item.curd.liters / 40}}</td>
                            <td>{{item.curd.unitPrice | currency: 'INR'}}</td>
                            <td>{{item.curd.liters * item.curd.unitPrice | currency: 'INR'}}</td>
                            <td>{{item.milk.liters}}</td>
                            <td>{{item.milk.liters / 40}}</td>
                            <td>{{item.milk.unitPrice | currency: 'INR'}}</td>
                            <td>{{item.milk.liters * item.milk.unitPrice | currency: 'INR'}}</td>
                            <td>{{ (item.curd.liters * item.curd.unitPrice) + (item.milk.liters * item.milk.unitPrice) | currency: 'INR'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Review And Print -->

    <div class="row hide-on-print">
        <div class="col-12 mb-5">
            <button class="float-right btn btn-primary" title="Review & Print" (click)="printTable()">Print
                <i class="material-icons" style="vertical-align: middle;">print</i></button>
        </div>
    </div>

    <div class="row pdf-footer fw-bold">
        <div class="col-12 pt-2 text-center">
            <!-- <div>
                {{appData?.address?.village}} <span *ngIf="appData?.address?.landMark">({{appData?.address?.landMark}})
                </span>,
                {{appData?.address?.taluk}}, {{appData?.address?.district}} - {{appData?.address?.pinCode}}
            </div>

            <div>
                Email: {{appData?.email}}
            </div> -->
        </div>
    </div>
</div>