.login-container {
    background-image: linear-gradient(90deg, rgba(91, 134, 229, .53), rgba(54, 209, 220, .71)), url(/assets/milk-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

input {
    width: 340px;
    height: 46px;
}