/* hesder profile */

.header img {
    width: 3rem;
    border-radius: 50%;
}

/* carousel-images */

.carousel-images {
    height: 10rem;
}

/* sales */

.list-products {
    border: 2px solid orange;
    box-shadow: 3px 3px 3px 3px rgb(214, 202, 202);
    border-radius: 10px;
}

.list-products img {
    width: 8rem;
    height: 8rem;
}