/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

a, ol, li {
    text-decoration: none !important;
    list-style: none;
}

h1, h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.header {
    background-color: #ecf0f1;
}

.header-icon {
    font-size: 1.7rem;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f7f9f9;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
